body{
	background: #34495e;
	font-family: verdana, sans-serif;
	font-weight: lighter;
}

*{
	text-decoration: none;
	margin: 0px;
	box-sizing: border-box;
}






/*GREEN BOX*/

.box{
	width: 100vw;
}

.titleBox{
	height: 200px;


	margin-top: 20px;
	background: #2ecc71;
	border-bottom: 5px solid #27ae60;
	line-height: 200px;
	color: white;
}

.mainTitle{
	line-height: 1em;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	padding: 0.5em;
}




/*BLUE BOX*/

.list{
	list-style-type: none;
}

.navBox{
	text-align: right;
	background: #2c3e50;
	border-bottom: 5px solid #34495e;
}

.navButton{
	display: inline-block;
	padding: 11px 17px 14px 17px;
}

.navButton a{
	color: white;
}





/*SIDE NAV BOX*/

.sideNavBox{
	background: white;
	border-bottom: 5px solid #7f8c8d;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: auto;
	overflow: hidden;
}

.sideNavContainer{
	overflow: hidden;
	display: inline-block;
}

.sideNavList{
	position: relative;
	left:8px;
	padding: 0px;
}

.sideNavTopList{
	float: left;
	position: relative;
	margin: 10px;
	text-align: left;
	display: inline-block;
	list-style-type: none;
	padding-left: 0px;
}

.sideNavButton{
	padding: 1px;
	margin: 4px;
}

.sideNavTopButton a{
	color: black;
}

.sideNavButton a{
	color: #95a5a6;
}




/*CONTENT BOX*/

.contentBox{
	padding: 3.5rem 2rem 5rem 2rem;
	margin-bottom: 20px;
	background: #ecf0f1;
	position: relative;
}

.articleTitle{
	padding-bottom:3.5rem;
	font-size: 1.5rem;
}

.text{
	padding-left: 2rem;
	padding-bottom: 1.5rem;
}

.sectionTitle{
	font-size: 1.1rem;
	border-bottom: 2px solid #95a5a6;
	padding: 8px;
	margin-bottom: 1.5rem;
}

.table{
	border-collapse: collapse;
	margin-bottom: 2em;
}

.tableHeadRow{
	text-align: left;
	background: #bdc3c7;
}

.tableRowData{
	border: 1px solid #7f8c8d;
	padding: 10px;
	padding-right: 14px;
}

.linkButton{
	text-align: center;
	color: white;
	background: #3498db;
	padding: 6px 27px;
	border-style: none;
}

.codeExample{
	background: #bdc3c7;
	text-align: left;
	padding: 20px 50px;
	margin-bottom: 1.5rem;
}

.codeContainer{
	display: inline;
}

.bannerImageContainer{
	margin-bottom: 1.5rem;
	text-align: center;
}

.bannerImage{
	display: inline-block;
}

.boldText{
	font-weight: bold;
}

.redText{
	color: orangered;
}

.numberedList{
	margin-bottom: 2rem;
}

.revisionStatus{
	color: #7f8c8d;
	margin-bottom: 4rem;
}

.form{
	margin-bottom: 2rem;
}

.linecontainerparent{
	position: relative;
	width: 100%;
	text-align: center;
}

.linecontainerchild{
	position: absolute;
	bottom: 7px;
	width: 100%;
	z-index: 0;
}

.line{
	background-color: gray;
	color: gray;
	height: 1px;
	width: 100%;
}

.cutText{
	background: #ecf0f1;
	width: 125px;
	position: relative;
	left: 30px;
	margin-bottom: 30px;
}

.form{
	text-align: right;
	float: left;
}

.formBoxSmall{
	width: 350px;
	height: 30px;
}

.formTable{
	margin-bottom: 4rem;
	text-align: right;
	display: inline-block;
}

.formPadding{
	padding: 5px;
}

.tableContainer,.formContainer{
	text-align: center;
}

.commentsForm{
	display: inline-block;
	margin-bottom: 1.5rem;
}

.formBoxLarge{
	height: 200px;
	width: 80vw;
}

.submitButton{
	width: 80vw;
	background: orangered;
	color: white;
	padding: 10px 0px 10px 0px;
	font-size: 1em;
	border-style: none;
	display: inline-block;
	margin-bottom: 3rem;
}





/*USER COMMENTS*/

.commentsContainer{
	text-align: center;
}

.allofthecomments{
	width: 80vw;
}

.comment{
	text-align:left;
}

.userPic{
	float:left;
	padding: 10px;
}

.userName{
	font-weight: bold;
	padding: 10px;
}

.commentText{
	clear: left;
	 padding: 10px;
}

.postDate{
	color: #bdc3c7;
}

.subComments{
	border-left: 1px solid gray;
}

