body{
	background: #34495e;
	font-family: verdana, sans-serif;
	font-weight: lighter;
}

*{
	text-decoration: none;
	margin: 0px;
	box-sizing: border-box;
}






/*GREEN BOX*/

.box{
	width: 100vw;
}

.titleBox{
	height: 200px;
	margin-top: 20px;
	background: #2ecc71;
	border-bottom: 5px solid #27ae60;
	line-height: 200px;
	color: white;
}

.mainTitle{
	line-height: 1em;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	padding: 0.5em;
}




/*BLUE BOX*/

.list{
	list-style-type: none;
}

.navBox{
	text-align: right;
	background: #2c3e50;
	border-bottom: 5px solid #34495e;
}

.navButton{
	display: inline-block;
	padding: 11px 17px 14px 17px;
}

.navButton a{
	color: white;
}





/*SIDE NAV BOX*/

.sideNavBox{
	background: white;
	border-bottom: 5px solid #7f8c8d;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: auto;
	overflow: auto;
}

.sideNavContainer{
	overflow: hidden;
	display: inline-block;
}

.sideNavList{
	position: relative;
	left:8px;
	padding: 0px;
}

.sideNavTopList{
	float: left;
	position: relative;
	margin: 10px;
	text-align: left;
	display: inline-block;
	list-style-type: none;
	padding-left: 0px;
}

.sideNavButton{
	padding: 1px;
	margin: 4px;
}

.sideNavTopButton a{
	color: black;
}

.sideNavButton a{
	color: #95a5a6;
}




/*CONTENT BOX*/

.contentBox{
	padding: 3.5rem 2rem 5rem 2rem;
	margin-bottom: 20px;
	background: white;
}

.articleTitle{
	padding-bottom:3.5rem;
	font-size: 1.5rem;
}

.text{
	padding-left: 2rem;
	padding-bottom: 1.5rem;
}

.sectionTitle{
	font-size: 1.1rem;
	border-bottom: 2px solid #95a5a6;
	padding: 8px;
	margin-bottom: 1.5rem;
}




